:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --main-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background-color: #FCFCFC;   
  }
body {
    font-family: "Roboto", sans-serif;  
    background-color: var(--white-background-color);
    color: var(--text-color);  
}
a {
    text-decoration: none;
    font-style: normal;
}
ul, ol {
	list-style-type: none;
}
h2 {
    color: var(--main-color);
}
/* Header section */
.header-nav {
}
.header-logo { 
color: var(--primary-brand-color);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
   
}
.logo-span {
    color: var(--main-color);
}
.header-nav-list {
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-menu {

}
.header-menu-link {
color: var(--main-color);
}
.header-menu-link:focus,
.header-menu-link:active,
.header-menu-link:hover {
color: var(--pressed-state-color);


}
.header-address {
    font-style: normal;
}
.header-contacts {

}
.header-contacts-link {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: var(--pressed-state-color);
    
}
/* Hero section */
.hero {
background-color: var(--main-color);
color: var(--white-background-color);
}
.hero-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white-background-color);
}
.hero-btn {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--primary-brand-color);
color: var(--white-background-color);
cursor: pointer;

}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: var(--pressed-state-color);
}
/* About section */
.about {
}
.about-hidden {
color: var(--main-color);
}
.about-list {
}
.about-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-color);
}
.about-note-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
}
.text {
color: var(--text-color)
}
.about-note-text {

}
/* Team section */
.team {
background-color: var(--light-color);
}
.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--main-color);
}
.team-list {}
.team-card {
    background-color:var(--white-background-color);
}
.team-member-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-color);
}
.team-card-text {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;

}
.portfolio {
}
.portfolio-title {
    text-align: center;
    text-transform: capitalize;
    color: var(--main-color);

}
.portfolio-cards {
}
.list {
}
.portfolio-item-card {
}
.portfolio-item {
}
.link {
}
.portfolio-image {
}
.portfolio-project-title {
color: var(--main-color);
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
font-weight: 500;
}
.portfolio-project-note {
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
/*** Footer section ***/
.footer-section {
color: var(--light-color);
background-color: var(--main-color);
}
.footer-logo {
color: var(--primary-brand-color);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-logo-span {
    color: var(--light-color);
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}